<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register form</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <style>
        .formErrors {
            margin-bottom: 20px;
        }
        .bg-danger {
        	padding: 10px;
        }
    </style>
</head>
<body>

    <div class="container">
		{{{content}}}
    </div>
    
</body>
</html>