<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DinDin Mobile Website</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<header>
		<a id="logo" href="/"><img src="/images/logo.png" alt="DinDin"></a>
				
		{{#if user.loggedIn}}
			<a class="header-button" href="/logout">Logout</a>
			<a class="header-button" href="/create">Create +</a>
		{{else}}
			<a class="header-button" href="/login">Login</a>
		{{/if}}
	</header>
 
	{{{content}}}

	<footer>
			<p>&copy; 2015 DinDin</p>
	</footer>

</body>
</html>