<div id="login-form">
	<form action="/create" method='POST'>
		<div class="form-control">
			<label for="name">Name:</label>
			<input type="text" name="name">
		</div>
		<div class="form-control">
			<label for="cooking_time">Cooking time:</label>
			<input type="text" name="cooking_time">
		</div>
		<div class="form-control">
			<label for="prep_time">Prep time:</label>
			<input type="text" name="prep_time">
		</div>
		<div class="form-control">
			<label for="serves">Serves:</label>
			<input type="text" name="serves">
		</div>
		<div class="form-control">
			<label for="cuisine">Cuisine:</label>
			<input type="text" name="cuisine">
		</div>
		<div class="form-control">
			<label for="ingredients">Ingredients:</label>
			<textarea name="ingredients"></textarea>
		</div>
		<div class="form-control">
			<label for="directions">Directions:</label>
			<textarea name="directions"></textarea>
		</div>
		<div class="form-control">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>