<div id="login-form">
	<form action="/login" method='POST'>
		<div class="form-control">
			<label for="username">Username:</label>
			<input type="text" name="username">
		</div>
		<div class="form-control">
			<label for="password">Password:</label>
			<input type="password" name="password">
		</div>
		<div class="form-control">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>