<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>DinDin Mobile Website</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <a href="/" id="logo"><img alt="DinDin" src="/images/logo.png"></a>
        <a class="header-button" href="/login">Login</a>
    </header>

    {{{content}}}  

    <footer><p>&copy; 2015 DinDin</p></footer>
</body>
</html>