{{#if loggedIn}}
    <h1>Hello there {{name}}</h1>
    <a href="/logout">Logout</a>
    <form action="/wallpaper" method="POST">
        <input type="text" name="image" id="image">
        <input type="submit" value="Save">
    </form>
{{else}}
    <a href="/login">Log in with Facebook</a>
{{/if}}
