<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallpaper</title>

    {{#if wallpaper}}
        <style>
            body {
                background: url({{wallpaper}}) no-repeat center center fixed; 
                background-size: cover;
            }
        </style>
    {{/if}}

</head>
<body>
    {{{content}}}
</body>
</html>