<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Registration form</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .formErrors {
            margin-bottom: 20px;
        }
        .bg-danger {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Registration form</h1>
        </div>
        
        {{{content}}}
        
    </div>
</body>
</html>