<div id="search-form">
	<form action="/" method='GET'>
		<input type="text" name="cuisine" value="{{search}}">
		<input type="submit" value="Search">
	</form>
</div>

{{#each recipes}}
	{{> summary}}
{{/each}}	