<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DinDin Mobile Website</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<a id="logo" href="/"><h1>DinDin</h1></a>
	</header>

	{{recipe}}

</body>
</html>